.product-details-category-container {
  display: flex;
  gap: 1rem;
}

.product-details-category {
  height: 50px;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}

.product-details-category-add-bg {
  background-color: bisque;
}

.product-details-menu-img {
  height: 130px;
  width: 130px;
}
